    body {
        font-family: roboto;
    }
    
    .slider>img {
        width: 100%;
    }
    
    .diamond,
    .fire,
    .bars,
    .shirt {
        text-align: center;
        margin-top: 50px;
    }
    
    .diamond h3,
    .fire h3,
    .bars h3,
    .shirt h3 {
        font-size: 18px;
        font-weight: 400;
    }
    
    h4 {
        margin: 0;
    }
    
    .mb {
        margin-bottom: 50px;
    }
    
    .no_padding {
        padding: 0;
    }
    /**********************/
    
    .bg-1 {
        text-align: center;
        color: white;
        background: url(../img/bg1.jpg) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 80px 0;
    }
    
    .bg-1 h2 {
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    
    .btn1,
    .btn2 {
        display: inline-block;
        font-size: 14px;
        margin-right: 10px;
    }
    
    .btn1 a {
        color: white;
        background: #94c766;
        padding: 10px 25px;
        display: inline-block;
        border-radius: 5px;
        border-top: 3px solid #81b156;
        text-decoration: none;
        letter-spacing: 1px;
    }
    
    .btn2 a {
        color: #94c766;
        background: white;
        padding: 10px 25px;
        display: inline-block;
        border-radius: 5px;
        border-top: 3px solid #ccc;
        text-decoration: none;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    
    .btn1 a:hover {
        border-top: 3px solid #ccc;
        color: #81b156;
        transition: all.2s linear;
        background: #fff;
    }
    
    .btn2 a:hover {
        border-top: 3px solid #81b156;
        color: white;
        transition: all.2s linear;
        background: #94c766;
    }
    /******* REPEAT HEAD ***********/
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .pt_80 {
        padding-top: 80px;
    }
    
    .repeat_head h2 {
        font-weight: 300;
        color: #444;
        font-size: 32px;
    }
    
    .repeat_head p {
        color: #727272;
        font-size: 18px;
        font-family: dancing script;
    }
    
    hr.horizontal {
        border: 0;
        width: 100px;
        height: 3px;
        background-color: #94c766;
    }
    
    .buttons {
        text-align: center;
    }
    
    .buttons ul li {
        display: inline-block;
        border: 2px solid #94c766;
        background: #94c766;
        padding: 4px 15px;
        margin: 0 7px;
    }
    
    .buttons ul li a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }
    
    .buttons ul>li.active,
    .buttons ul>li:hover {
        background: transparent;
        transition: all .2s ease-in;
    }
    
    .buttons ul>li.active a,
    .buttons ul>li:hover a {
        color: #94c766;
    }
    /*****************testimonials************************/
    
    .blog h3 {
        color: #444444;
        margin: 0;
        font-size: 20px;
        font-weight: 300;
    }
    
    .hr_blog {
        margin: 12px 0 0 0;
        height: 2px;
        border-color: #eeeeee;
        position: relative
    }
    
    hr.hr_blog:before {
        content: " ";
        width: 25%;
        position: absolute;
        top: -1px;
        left: 0;
        border-top: 1px solid #94c766;
    }
    
    .arrow span i {
        border: 1px solid #cccccc;
        padding: 5px 9px;
        color: #ccc;
    }
    
    .arrow span i:hover {
        cursor: pointer;
        transition: all 0.3s ease;
        border: 1px solid #94c766;
        background-color: #94c766;
        color: #fff;
    }
    
    .inner_data {
        margin-top: 16px;
        border: 1px solid #e8e8e8;
        padding: 10px 7px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.14);
        border-radius: 5px;
    }
    
    .inner_data p {
        padding-left: 10px;
        font-weight: 300;
    }
    
    .inner_data i {
        font-size: 12px;
        color: #b3b3b3;
    }
    
    .right_p {
        margin-top: 15px;
        font-weight: 300;
    }
    
    .right_p span {
        color: #94c766;
    }
    
    .date {
        background-color: #444444;
        color: white;
        padding: 7px;
        font-size: 14px;
        text-align: center;
        border-radius: 3px 3px 0 0;
    }
    
    .cal_icon {
        background-color: #94c766;
        color: white;
        padding: 7px;
        font-size: 14px;
        text-align: center;
        border-radius: 0px 0px 3px 3px;
    }
    
    .sm_calendar {
        margin-right: 8px;
    }
    
    .business_guide {
        margin-top: 10px;
    }
    
    .business_guide h4 {
        margin-bottom: 10px;
    }
    
    .business_guide p {
        font-weight: 300;
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
    }
    
    .business_guide p a {
        color: #94c766;
    }
    
    .business_guide p a:hover {
        text-decoration: underline;
    }
    /******HERE WE ARE CSS*****************/
    
    .bg_color {
        margin-top: 90px;
        padding-bottom: 125px;
        background-color: #f2f2f2;
    }
    
    .pic {
        position: relative;
    }
    
    .caption {
        position: absolute;
        bottom: -10px;
        padding: 3px 12px;
        border-radius: 3px;
        color: white;
        background-color: #94c766;
        right: 15px;
    }
    
    .wordpress,
    .php,
    .jquery,
    .woo {
        display: block;
        margin-bottom: 10px;
    }
    
    .hr_wordpress,
    .hr_php,
    .hr_jquery,
    .hr_woo {
        margin: 12px 0 0 0;
        border-top: 3px solid;
        border-color: #d2d1d1;
        position: relative
    }
    
    hr.hr_wordpress:before {
        content: " ";
        width: 75%;
        position: absolute;
        top: -3px;
        left: 0;
        border-top: 3px solid #94c766;
    }
    
    hr.hr_php:before {
        content: " ";
        width: 95%;
        position: absolute;
        top: -3px;
        left: 0;
        border-top: 3px solid #94c766;
    }
    
    hr.hr_jquery:before {
        content: " ";
        width: 65%;
        position: absolute;
        top: -3px;
        left: 0;
        border-top: 3px solid #94c766;
    }
    
    hr.hr_woo:before {
        content: " ";
        width: 45%;
        position: absolute;
        top: -3px;
        left: 0;
        border-top: 3px solid #94c766;
    }
    
    .social_icon ul {
        padding-left: 10px;
    }
    
    .social_icon ul li {
        display: inline-block;
        margin: 0px 5px;
    }
    
    .social_icon ul li>a {
        color: #666;
        font-size: 16px;
    }
    
    .social_icon ul li>a:hover {
        color: #94c766;
    }
    /**********************BG_2****************/
    
    .bg-2 {
        background: url(../img/bg-2.jpg);
        background-attachment: fixed;
        padding: 80px 0;
    }
    
    .like {
        color: #94c766;
        font-weight: bold;
    }
    
    .like p {
        font-size: 40px;
    }
    
    .like span {
        color: white;
    }
    /* *************** CLIENTS ****************** */
    
    .bg_color_3 {
        background: #f9f9f9;
    }
    /**************** FOOTER  ********************/
    
    footer {
        background: #222222;
        padding-top: 60px;
        color: #989898;
    }
    
    .overView {
        margin-bottom: 20px;
    }
    
    .overView h4 {
        color: white;
        font-size: 18px;
        position: relative;
        text-transform: uppercase;
    }
    
    .overView h4::after {
        content: " ";
        position: absolute;
        width: 60px;
        height: 4px;
        background-color: #323232;
        z-index: 999;
        bottom: -7px;
        left: 0;
    }
    
    .over li {
        border-bottom: 1px solid #3d3d3d;
        padding: 10px 0;
    }
    
    .over li:last-child {
        border-bottom: none;
    }
    
    .over li a {
        font-size: 16px;
        color: #989898;
    }
    
    .tos ul li {
        color: #989898;
        display: inline;
        padding: 0 5px;
    }
    
    .insta li {
        display: inline-block;
        vertical-align: top;
        padding-bottom: 10px;
    }
    
    .bdr-top {
        margin-top: 50px;
        border-top: 1px solid #2f2f2f;
        padding: 40px 0;
    }
    /*********************** MENU ******************************/
    
    ul.nav.navbar-nav>li.active a {
        color: #94c766;
    }
    
    .navbar-default .navbar-nav>li a:hover {
        color: #94c766;
    }
    
    .navbar-brand {
        padding: 5px 5px 5px 50px;
    }
    
    .custom_nav {
        background: transparent;
        border: none;
        margin-bottom: 5px;
    }
    
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background: transparent;
    }
    
    .navbar-nav>li.dropdown.search>a {
        background: lightgrey;
        padding: 10px 15px;
        border-radius: 5px;
        margin-top: 5px;
    }
    
    @media only screen and (max-width: 767px) {
        .buttons ul li {
            display: block;
            margin-bottom: 5px;
        }
        .buttons ul {
            padding: 0;
        }
        .mobile_no_padding {
            padding: 0;
        }
        .like {
            margin-bottom: 10px;
        }
        .bdr-top>.margo,
        .tos {
            float: none !important;
            text-align: center;
        }
    }